.formContainer {
    margin: 0;
    width: 100%;
    height: 100%;
}
.formContainerInner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    transition: 250ms all ease-in-out;
}
.formTitle {
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.subHeader {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    margin-bottom: 1.5em;
    text-align: center;
}
.btnCommon {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.6em;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    outline: none;
    transition: 250ms all ease-in-out;
    width: 60%;
    margin: 20px auto;
    background-color: rgba(#85c441, 1);
    border: 1px solid rgba(#85c441, 1);
    // &:hover {
    //     font-weight: 600;
    //     letter-spacing: 1px;
    // }
}
.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 2.5rem;
    &.ng-valid[required],
    &.ng-valid.required {
        border: 1px solid #85c441;
    }
    &.ng-invalid:not(form) {
        // border: 2px solid red;
    }
    &::placeholder {
        opacity: 0.5;
        font-weight: 400;
    }
    &::-moz-placeholder {
        opacity: 0.5;
        font-weight: 400;
    }
}
.form-control:focus {
    border: 1px solid #14653b;
    box-shadow: none;
}
.login-container {
    @extend .formContainer;
    &-inner {
        @extend .formContainerInner;
    }
    .login {
        &-body {
            width: 100%;
        }
        &-form {
            font-size: 15px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.75);
            .form {
                text-align: center;
                &-group {
                    text-align: left;
                }
                &-check {
                    display: flex;
                    justify-content: space-between;
                    .forgot-password {
                        cursor: pointer;
                        font-weight: 600;
                        transition: 250ms all ease-in-out;
                        color: rgba(#14653b, 0.75);
                        &:hover {
                            color: rgba(#14653b, 1);
                        }
                    }
                }
                .login-btn {
                    @extend .btnCommon;
                }
            }
        }
        &-title {
            @extend .formTitle;
        }
        &-footer {
            font-family: 'Open Sans';
            text-align: center;
            span {
                &:first-child {
                    color: rgba(0, 0, 0, 0.75);
                }
                &:last-child {
                    cursor: pointer;
                    transition: 250ms all ease-in-out;
                    font-weight: 600;
                    color: rgba(#14653b, 0.75);
                    &:hover {
                        color: rgba(#14653b, 1);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0em;
    }
}
