<main class="dashboard-container">
    <jhi-dashboard-navbar
        (toggleSideBar)="handleToggleSideBar()"
    ></jhi-dashboard-navbar>
    <section class="dashboard-content-container" [ngClass]="{collapsed: !sideBarVisible}">
        <aside class="dashboard-sidebar">
            <jhi-dashboard-sidebar></jhi-dashboard-sidebar>
        </aside>
        <div class="dashboard-content">
            <div *ngIf="breadcrumbs && breadcrumbs.length" class="breadcrumbs">
                <ol class="breadcrumbs-list">
                    <li class="breadcrumbs-list-item">
                        <a 
                            [routerLink]='[""]' 
                            [routerLinkActiveOptions]="{exact: true}"
                            routerLinkActive='active'
                        >Home</a>
                    </li>
                    <li 
                        *ngFor='let breadcrumb of breadcrumbs'
                        class="breadcrumbs-list-item"
                    >
                        <a 
                            [routerLink]='[breadcrumb.url]' 
                            routerLinkActive='active'
                        >{{ breadcrumb.label }}</a>
                    </li>
                </ol>
            </div>
            <div class="dashboard-content-inner">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</main>