<main class="dashboard-container">
    <jhi-dashboard-navbar
        (toggleSideBar)="handleToggleSideBar()"
    ></jhi-dashboard-navbar>
    <section class="dashboard-content-container" [ngClass]="{collapsed: !sideBarVisible}">
        <aside class="dashboard-sidebar">
            <jhi-dashboard-sidebar></jhi-dashboard-sidebar>
        </aside>
        <div class="dashboard-content">
            <div class="dashboard-content-inner">
                <jhi-bank-info-component [showLogout]="false"></jhi-bank-info-component>
            </div>
        </div>
    </section>
</main>