<section class="stores-list-container">
    <div *ngIf="!storeList" class="loading">
       <div class="loader"></div>
    </div>
    <div *ngIf="storeList" class="header">
        <h1>Stores</h1>
        <div class="filters">
            <label htmlFor="enable">
                <input type="checkbox"
                    id="enable"
                    name="filter-all"
                    [(ngModel)]="filters.selectAll"
                    [checked]="filters.selectAll"
                    (change)="handleSelectAllClick($event)" 
                />
                <span class="filter-text">Select All</span>
            </label>
            <!-- <label htmlFor="enable">
                <input type="checkbox"
                    id="enable" 
                    name="filter-enabled"
                    [(ngModel)]="filters.selectEnabled"
                    [checked]="filters.selectEnabled"
                    (change)="handleSelectAllEnabledClick($event)" 
                />
                <span class="filter-text">Select All Enabled</span>
            </label>
            <label htmlFor="enable">
                <input type="checkbox"
                    id="enable"
                    name="filter-disabled"
                    [(ngModel)]="filters.selectDisabled"
                    [checked]="filters.selectDisabled"
                    (change)="handleSelectAllDisabledClick($event)" 
                />
                <span class="filter-text">Select All Disabled</span>
            </label> -->
        </div>
    </div>
    
    <div *ngIf="storeList" class="stores-list">
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <tbody>
                <tr>
                    <th class="text-center">S.No.</th>
                    <th class="text-center">Store Id</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Zipcode</th>
                    <th class="text-center">Autopay Status</th>
                    <th class="text-center">Autopay(EFT)</th>
                </tr>
                <tr *ngFor="let store of storeList ; let i = index"
                    class="store-item-row" 
                >
                    <td>{{i + 1}}</td>
                    <td>{{store.id}}</td>
                    <td>{{store.address}}</td>
                    <td>{{store.city}}</td>
                    <td>{{store.zipCode}}</td>
                    <td class="status">
                        <span *ngIf="store.autoPayEnabled" class="disable">Enabled</span>
                        <span *ngIf="!store.autoPayEnabled" class="enable">Not Enabled</span>
                    </td>
                    <td class="action">
                        <label *ngIf="!store.autoPayEnabled" htmlFor="action">
                            <input type="checkbox"
                                id="action"
                                [(ngModel)]="store.checkedManually"
                                [checked]="store.checkedManually"
                                (change)="handlePaymentChange($event,store)" 
                            />
                            Enable Now
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="storeList" class="action-bar" [ngClass]="{visible: storesSelected.length}">
        <button class="btn" (click)="handleAutoPayClick('autopay')">enable autopay</button>
        <!-- <button class="btn" (click)="handleAutoPayClick('cheque')">Pay By cheque</button> -->
    </div>
</section>
