.four04-container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    &-inner {
        max-width: 964px;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header {
        font-size: 98px;
        color: rgba(0, 0, 0, 0.25);
        font-weight: bold;
    }
    .sub-header {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
        margin: 20px 0;
    }
    .action {
        padding: 10px 20px;
        font-weight: 500;
        letter-spacing: 1px;
        background: #85c441;
        border-radius: 4px;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
