/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
        background-size: contain;
    }
}

.formContainer {
    padding: 2em;
    margin: 0;
    width: 100%;
    height: 100%;
}
.formContainerInner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 4px;
}
.formTitle {
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.home-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../content/images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    &-inner {
        padding: 2em;
        margin: 0;
        width: 100%;
        height: 100%;
        .form-control {
            border: 2px solid #ced4da;
            border-radius: 4px;
            height: 3rem;
        }
        .form-control:focus {
            border: 2px solid #14653b;
            box-shadow: none;
        }
    }
    .logo-container {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        .logo {
            padding: 2em;
            &-text {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5em;
                h1 {
                    margin-left: 1em;
                    font-size: 2.5em;
                    font-weight: 600;
                }
            }
            h2 {
                text-align: center;
                font-size: 1.5em;
                font-weight: 500;
            }
        }
    }
    .login-container {
        @extend .formContainer;
        &-inner {
            @extend .formContainerInner;
        }
        .login {
            &-body {
                width: 100%;
            }
            &-form {
                font-size: 15px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.75);
                .form {
                    text-align: center;
                    &-group {
                        text-align: left;
                    }
                    &-check {
                        display: flex;
                        justify-content: space-between;
                        .forgot-password {
                            cursor: pointer;
                            font-weight: 500;
                            color: rgba(#14653b, 0.75);
                            &:hover {
                                color: rgba(#14653b, 1);
                            }
                        }
                    }
                    .login-btn {
                        width: 60%;
                        margin: 20px auto;
                    }
                }
            }
            &-title {
                @extend .formTitle;
            }
            &-footer {
                text-align: center;
                span {
                    &:first-child {
                        color: rgba(0, 0, 0, 0.75);
                    }
                    &:last-child {
                        cursor: pointer;
                        font-weight: 500;
                        color: rgba(#14653b, 0.75);
                        &:hover {
                            color: rgba(#14653b, 1);
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding: 0em;
            &-inner {
                padding: 2em 1em;
            }
        }
    }
    .register-container {
        @extend .formContainer;
        &-inner {
            @extend .formContainerInner;
            &-form {
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.75);
                text-align: center;
                .form-group {
                    text-align: left;
                }
                .register-btn {
                    width: 60%;
                    margin: 20px auto;
                }
            }
        }
        .register {
            &-title {
                text-align: center;
                h1 {
                    @extend .formTitle;
                }
            }
            &-footer {
                text-align: center;
                span {
                    &:first-child {
                        color: rgba(0, 0, 0, 0.75);
                    }
                    &:last-child {
                        cursor: pointer;
                        font-weight: 500;
                        color: rgba(#14653b, 0.75);
                        &:hover {
                            color: rgba(#14653b, 1);
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding: 0em;
            &-inner {
                padding: 2em 1em;
            }
        }
    }
    .reset-container {
        @extend .formContainer;
        &-inner {
            @extend .formContainerInner;
            h1 {
                @extend .formTitle;
            }
            form {
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.75);
                text-align: center;
                .form-group {
                    text-align: left;
                }
            }
        }
        .reset-btn {
            width: 60%;
            margin: 20px auto;
        }
    }
}
