.bank-info {
    &-container {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        &-inner {
            width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 964px;
            margin: 0 auto;
        }
        .logout {
            position: absolute;
            right: 40px;
            top: 40px;
            button {
                padding: 0.6em 1.5em;
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 4px;
                font-size: 0.8em;
                background-color: #85c441;
                border: 1px solid #85c441;
                cursor: pointer;
                transition: 25ms all ease-in-out;
                &:hover {
                    background-color: #85c441;
                }
            }
        }
    }
    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .logo {
            max-width: 300px;
            margin-bottom: 30px;
        }
        h1 {
            font-size: 20px;
            line-height: 22px;
            font-weight: 700;
            color: #142031;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    &-body {
        padding: 35px 20px;
        border-radius: 4px;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        .no-margin {
            margin: 0;
        }
        .form-control {
            border: 1px solid #ced4da;
            border-radius: 4px;
            height: 2.5rem;
            &.ng-valid[required],
            &.ng-valid.required {
                border: 1px solid #85c441;
            }
            &.ng-invalid:not(form) {
                // border: 2px solid red;
            }
            &::placeholder {
                opacity: 0.5;
                font-weight: 400;
            }
            &::-moz-placeholder {
                opacity: 0.5;
                font-weight: 400;
            }
        }
        .form-control:focus {
            border: 1px solid #14653b;
            box-shadow: none;
        }
        .form-control-label {
            font-size: 12px;
            line-height: 15px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .site-address {
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.75);
        }
        .routing-image {
            margin-top: 10px;
        }
        @media screen and (max-width: 420px) {
            padding: 20px 10px;
        }
    }
    &.boxModel {
        &-inner {
            padding: 40px;
        }
        &-body {
            box-shadow: 0px 6px 19px 0px rgba(0, 0, 0, 0.09);
        }
    }
    &-footer {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        .bank-info-btn {
            text-transform: uppercase;
            font-size: 0.8em;
            padding: 0.6em 1.5em;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 4px;
            outline: none;
            transition: 250ms all ease-in-out;
            &.submit {
                color: #fff;
                background-color: #85c441;
                border: 1px solid #85c441;
                margin-right: 20px;
                &.enabled {
                    opacity: 1;
                    cursor: pointer;
                }
            }
            &.reset {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
