/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
        background-size: contain;
    }
}
.home-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../content/images/windmills-sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    transition: 500ms all ease-in-out;
    &-inner {
        padding: 0 2em;
        margin: 0;
        width: 100%;
        height: 100%;
        > .row {
            align-items: center;
            justify-content: center;
            transition: 1s all ease-in-out;
            .container {
                padding: 2em;
                border-radius: 25px;
                background: rgba(255, 255, 255, 1);
                box-shadow: 0 6px 26px 0 rgba(0, 0, 0, 0.09);
                transition: 1s all ease-in-out;
            }
        }

        .form-control {
            border: 1px solid #ced4da;
            border-radius: 4px;
            height: 2.5rem;
            &.ng-valid[required],
            &.ng-valid.required {
                border: 1px solid #85c441;
            }
            &::placeholder {
                opacity: 0.5;
                font-weight: 400;
            }
            &::-moz-placeholder {
                opacity: 0.5;
                font-weight: 400;
            }
        }
        .form-control:focus {
            border: 1px solid #14653b;
            box-shadow: none;
        }
    }
    .logo-container {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        .logo {
            &-text {
                max-width: 325px;
                margin: 0 auto 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    margin-left: 1em;
                    font-size: 2.5em;
                    font-weight: 600;
                }
            }
            h2 {
                text-align: center;
                font-size: 1.7em;
                font-weight: 700;
                margin-bottom: 0.8em;
            }
            h3 {
                text-align: center;
                font-size: 1.2em;
                font-weight: 500;
            }
        }
    }
}
