<div class="sidebar-container">
    <h5>Dashboard</h5>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a 
                [routerLink]="['/dashboard/payments']"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
            >
                <fa-icon icon="money" fixedWidth="true" class="icon"></fa-icon>
                payments
            </a>
        </li>
        <li class="sidebar-list-item">
            <a 
                [routerLink]="['/dashboard/invoices']"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
            >
                <fa-icon icon="file-text-o" fixedWidth="true" class="icon"></fa-icon>
                invoices
            </a>
        </li>
    </ul>
</div>