.sidebar-container {
    width: 100%;
    height: 100%;
    background: rgba($color: #14653b, $alpha: 1);
    h5 {
        text-align: left;
        padding: 20px;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background: rgba($color: #000000, $alpha: 0.25);
        font-weight: 500;
        color: #fff;
    }
    ul {
        padding: 20px 0px;
        margin: 0;
        li {
            list-style-type: none;
            a {
                color: #fff;
                padding: 15px 20px;
                transition: 300ms all ease-in;
                display: flex;
                align-items: center;
                justify-content: left;
                font-weight: 400;
                text-decoration: none;
                text-transform: capitalize;
                &.active {
                    background: rgba($color: #000000, $alpha: 0.4);
                }
                .icon {
                    margin-right: 10px;
                }
            }
            &:hover {
                background: rgba($color: #000000, $alpha: 0.25);
            }
        }
    }
}
