<nav class="dashboard-navbar">
    <div class="navbar">
        <div class="nav-left lhs">
            <div class="navbar-brand">
                <a href='/'>
                    <img src='../../../content/images/budderfly-logo-primary-large.png' alt='budderfly' />
                </a>
            </div>
            <div class="action" (click)=toggleSidebar()>
                <fa-icon icon="bars" fixedWidth="true" class="icon"></fa-icon>
            </div>
        </div>
        <div class="nav-right rhs">
            <div class="user-details" (click)=toggleUserDropDown()>
                <div class="user-img"><img src="" /></div>
                <div class="user-name">Sample</div>
                <div class="user-details-dropdown" [ngClass]="{visible: showUserDetails}">
                    <ul>
                        <li (click)="logout()">logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>