.dashboard-navbar {
    display: flex;
    transition: 500ms all ease-in;
    height: 60px;
    align-items: center;
    position: fixed;
    flex: 1;
    width: 100%;
    z-index: 1;
    background: #f5f7f9;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.075);
    .navbar {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 0 40px;
        justify-content: space-between;
        .lhs {
            display: flex;
            align-items: center;
            width: 210px;
            justify-content: space-around;
            .action {
                cursor: pointer;
                .icon {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 20px;
                }
                &:hover {
                    .icon {
                        color: rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
        .rhs {
            .user-details {
                display: flex;
                cursor: pointer;
                align-items: center;
                position: relative;
                .user-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #fff;
                }
                .user-name {
                    margin-left: -40px;
                    font-size: 14px;
                    font-weight: 600;
                    height: 40px;
                    color: rgba(0, 0, 0, 0.6);
                    padding: 10px 20px;
                    padding-left: 50px;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                }
                &-dropdown {
                    position: absolute;
                    display: none;
                    transition: 300ms all ease-in;
                    transform: translateY(-20%);
                    width: 100%;
                    left: 0;
                    top: 50px;
                    border-radius: 4px;
                    max-height: 200px;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
                    ul {
                        padding: 0px;
                        background: #fff;
                        margin: 0;
                        li {
                            padding: 10px;
                            transition: background 300ms ease-in;
                            font-size: 14px;
                            font-weight: 500;
                            text-transform: capitalize;
                            cursor: pointer;
                            list-style-type: none;
                            &:hover {
                                background: #f5f5f5;
                            }
                        }
                    }
                    &:before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: -20px;
                        border: 10px solid transparent;
                        border-bottom: 10px solid rgba(255, 255, 255, 1);
                    }
                    &.visible {
                        display: block;
                        transform: translateY(20%);
                        opacity: 1;
                        top: 45px;
                    }
                }
            }
        }
        &-brand {
            width: 120px;
            height: 30px;
            padding: 0;
        }
    }
}
